<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Welcome to pet management system!</h1>
<a href='/signup'>Sign up</a><br>
<a href='/login'>Login</a><br>
<a href="/logout">Log Out</a>
